#control-wrapper {
	width: 100px;
	height: 100px;
	float: left;
	background-color: red;
}

#control-wrapper button {
	height: 30px;
	width: 30px;
}

#control-pan {

}

#control-zoom {

}

svg {
	width: 100%;
	height: 1100px;
	border: 1px solid;
}

.stop {
	stroke-width:4;
	stroke:black;
}

.stop:hover, .selected-stop {
	stroke:red;
}

.route {
	fill:none;
	stroke-width:4;
}

.route:hover {
	stroke-width:8;
}
