svg {
	width: 100%;
	height: 1100px;
}

.stop {
	stroke-width:4;
	stroke:black;
}

.stop:hover, .selected-stop {
	stroke:red;
}

.route {
	fill:none;
	stroke-width:4;
}

.route:hover {
	stroke-width:8;
}

.unselected-route {
	opacity: 0.2;
}